[user]
  name = Zach Harris
  email = {{ .email }}
{{- if .work }}
  username = zookla
  signingkey = {{- onepasswordRead "op://Private/saff4jgvjc2oki2vmimetilbpm/public key" }}
{{- else }}
  username = zacaytion
  signingkey = {{- onepasswordRead "op://Private/kaeq3bmbwdjagmuvppx2hilbby/public key" }}
{{- end }}

[init]
  defaultBranch = main

[core]
  hooksPath = /Users/z/.config/git/hooks

[color]
  ui = auto

[pull]
  rebase = true

[fetch]
  prune = true

###########################################
##### Use SSH instead of HTTPS ############

[url "git@github.com:"]
	insteadOf = https://github.com/

###########################################
##### Diff Displays #######################

[diff]
  colorMoved = zebra
  # external = difft

[diff "lisp"]
  xfuncname = "^(\\(.*)$"

[diff "org"]
  xfuncname = "^(\\*+ +.*)$"

###########################################
######## Merge Conflicts ##################

[merge]
	conflictStyle = diff3
[merge "mergiraf"]
	name = mergiraf
	driver = mergiraf merge --git %O %A %B -s %S -x %X -y %Y -p %P -l %L

###########################################
##### Commit Signing with 1Password #######

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
  gpgsign = true

###########################################
######## Large File System ################

[filter "lfs"]
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
