[submodule "prezto"]
	path = config/prezto
	url = https://github.com/zacaytion/prezto.git
[submodule "shell/zsh/prezto"]
	path = zsh/zsh.d/prezto
	url = https://github.com/zacaytion/prezto.git
[submodule "zprezto"]
	path = zsh/zsh.d/zprezto
	url = https://github.com/zacaytion/prezto.git
