[submodule "zprezto"]
	path = zsh/zprezto
	url = https://github.com/sorin-ionescu/prezto.git

[submodule "writing/digestif"]
	path = writing/digestif
	url = https://github.com/astoff/digestif.git
	branch = v0.5
