"*":
  "atom-ternjs":
    useSnippets: true
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "linter"
      "linter-ui-default"
      "linter-js-yaml"
      "linter-stylelint"
      "tree-view"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "/node_modules/"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "atom-panda-syntax"
    ]
  editor:
    fontFamily: "OperatorMonoSSm-Book"
    fontSize: 9
    tabType: "soft"
  "exception-reporting":
    userId: "db863842-f8fe-4776-a3c7-493fc1088a26"
  "linter-eslint": {}
  "linter-ui-default":
    panelHeight: 69
  nuclide:
    "atom-ide-code-format":
      formatOnSave: true
    "atom-ide-diagnostics-ui":
      showDiagnosticTraces: true
    "nuclide-home":
      showHome: false
    "nuclide-working-sets": {}
  "one-dark-ui": {}
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      isDisabledIfNotInPackageJson: true
    prettierEslintOptions:
      prettierLast: true
    prettierOptions:
      parser: "flow"
      semi: false
      singleQuote: true
      trailingComma: "es5"
    silenceErrors: true
    useEslint: true
  "sync-settings":
    _lastBackupHash: "570d275a4024cd46c86f6e9c4e3442f7d0428048"
    gistId: "5fa30204ba7b7ac601baf5908e9caea0"
    personalAccessToken: "df7121f065a56076456f3cae1a3db9ac46efc952"
  "tool-bar":
    iconSize: "12px"
    position: "Left"
  "vim-mode-plus":
    keymapPToPutWithAutoIndent: true
  welcome:
    showOnStartup: false
"sync-settings":
  gistId: "5fa30204ba7b7ac601baf5908e9caea0"
  personalAccessToken: "df7121f065a56076456f3cae1a3db9ac46efc952"
