#!/usr/bin/env zsh

LANG="en_US.UTF-8"
LC_ALL="en_US.UTF-8"

if [[ -z "$BROWSER" && "$OSTYPE" == darwin* ]]; then
    export BROWSER="open"
fi

EDITOR="emacs -nw"
VISUAL="emacsclient -nw"
PAGER="less"

LESS="-g -i -M -R -S -w -X -z-4"
LESSOPEN="| /opt/homebrew/bin/lesspipe.sh %s"

# Source envs per app
set -a
[ -f ~/.config/homebrew/brew.env ] && source ~/.config/homebrew/brew.env
[ -f ~/.config/mise/mise.env ] && source ~/.config/mise/mise.env

[ -f ~/.config/hunspell/hunspell.env ] && source ~/.config/hunspell/hunspell.env
