#!/usr/bin/env zsh
##
# This env is loaded in all environments
# See ~/.config/zsh/.zshenv
# See ~/Library/LaunchAgents/org.freedesktop.xdg-environment-vars
#

# Define https://specifications.freedesktop.org/basedir-spec/latest/#variables

XDG_BIN_HOME="$HOME/.local/bin"
{{- if eq .chezmoi.os "darwin" }}
XDG_CACHE_HOME="$HOME/Library/Caches"
{{- else }}
XDG_CACHE_HOME="$HOME/.cache"
{{- end }}
XDG_CONFIG_HOME="$HOME/.config"
{{- if eq .chezmoi.os "darwin" }}
XDG_CONFIG_DIRS="\"$HOME/Library/Application Support\":\"/Library/Application Support\":/etc/xdg"
{{- else }}
XDG_CONFIG_DIRS="/etc/xdg"
{{- end }}
XDG_DATA_HOME="$HOME/.local/share"
{{- if eq .chezmoi.os "darwin" }}
XDG_DATA_DIRS="\"$HOME/Library/Application Support\":\"/Library/Application Support\":/opt/homebrew/share:/usr/local/share/:/usr/share/"
{{- else }}
XDG_DATA_DIRS="/usr/local/share/:/usr/share/"
{{- end }}
{{- if eq .chezmoi.os "linux" }}
XDG_RUNTIME_DIR="$TMPDIR/runtime-$UID"
{{- end }}
XDG_STATE_HOME="$HOME/.local/state"

# https://wiki.archlinux.org/title/XDG_user_directories
XDG_DESKTOP_DIR="$HOME/Desktop"
XDG_DOCUMENTS_DIR="$HOME/Documents"
XDG_DOWNLOAD_DIR="$HOME/Downloads"
XDG_MUSIC_DIR="$HOME/Music"
XDG_PICTURES_DIR="$HOME/Pictures"
XDG_PUBLICSHARE_DIR="$HOME/Public"
XDG_VIDEOS_DIR="$HOME/Movies"

# Define paths for common programs with partial XDG support
# https://wiki.archlinux.org/title/XDG_Base_Directory#Partial

AWS_SHARED_CREDENTIALS_FILE="$XDG_CONFIG_HOME/aws/credentials"
AWS_CONFIG_FILE="$XDG_CONFIG_HOME/aws/config"
CARGO_HOME="$XDG_DATA_HOME/cargo"
CLAUDE_CONFIG_DIR="$XDG_CONFIG_HOME/claude"
CODEX_HOME="$XDG_CONFIG_HOME/codex"
DOCKER_CONFIG="$XDG_CONFIG_HOME/docker"
DOOMDIR="$XDG_CONFIG_HOME/doom.d"
DOTFILES="$HOME/.dotfiles"
EMACSDIR="$HOME/.emacs.d"
ENCHANT_CONFIG_DIR="$XDG_CONFIG_HOME/enchant"
FFMPEG_DATADIR="$XDG_CONFIG_HOME/ffmpeg"
GEM_HOME="$XDG_DATA_HOME/gem"
GEM_SPEC_CACHE="$XDG_CACHE_HOME/gem"
GOPATH="$XDG_DATA_HOME/go"
GOCACHE="$XDG_CACHE_HOME/go"
GOMODCACHE="$XDG_CACHE_HOME/go/mod"
GNUPGHOME="$XDG_CONFIG_HOME/gnupg"
HISTFILE="$XDG_STATE_HOME/zsh_history"
{{- if eq .chezmoi.os "darwin" }}
HOMEBREW_BUNDLE_FILE="$XDG_CONFIG_HOME/homebrew/Brewfile"
HOMEBREW_CACHE="$XDG_CACHE_HOME/Homebrew"
HOMEBREW_LOGS="$HOMEBREW_CACHE/Logs"
{{- end }}
K9SCONFIG="$XDG_CONFIG_HOME"/k9s
LESSHISTFILE="$XDG_STATE_HOME/less_history"
MACHINE_STORAGE_PATH="$XDG_DATA_HOME/docker_machine"
MINIKUBE_HOME="$XDG_DATA_HOME/minikube"
MISE_CACHE_DIR="$XDG_CACHE_HOME/mise"
MISE_CONFIG_DIR="$XDG_CONFIG_HOME/mise"
MISE_DATA_DIR="$XDG_DATA_HOME/mise"
MISE_STATE_DIR="$XDG_STATE_HOME/mise"
MISE_NODE_DEFAULT_PACKAGES_FILE="$XDG_CONFIG_HOME/mise/default-packages/npm"
MIX_XDG="true"
MYSQL_HISTFILE="$XDG_DATA_HOME/mysql_history"
NODE_REPL_HISTORY="$XDG_STATE_HOME/node_repl_history"
NPM_CONFIG_CACHE="$XDG_CACHE_HOME/npm"
NPM_CONFIG_TMP="$XDG_RUNTIME_DIR/npm"
NPM_CONFIG_USERCONFIG="$XDG_CONFIG_HOME/npm/config"
PGPASSFILE="$XDG_CONFIG_HOME/pg/pgpass"
PSPG_CONF="$XDG_CONFIG_HOME/pg/pspg.conf"
PSPG_HISTORY="$XDG_STATE_HOME/pspq_history"
PSQL_HISTORY="$XDG_STATE_HOME/psql_history"
PSQLRC="$XDG_CONFIG_HOME/pg/psqlrc"
PYENV_ROOT="$XDG_DATA_HOME/pyenv"
PYTHONPYCACHEPREFIX="$XDG_CACHE_HOME/python"
PYTHONUSERBASE="$XDG_DATA_HOME/python"
PYTHON_HISTORY="$XDG_STATE_HOME/python_history"
REDISCLI_HISTFILE="$XDG_DATA_HOME/redis/rediscli_history"
REDISCLI_RCFILE="$XDG_CONFIG_HOME/redis/redisclirc"
RIPGREP_CONFIG_PATH="$XDG_CONFIG_HOME/ripgrep/ripgreprc"
RUFF_CACHE_DIR="$XDG_CACHE_HOME/ruff"
RUSTUP_HOME="$XDG_DATA_HOME/rustup"
SQLITE_HISTORY="$XDG_STATE_HOME/sqlite_history"
STARSHIP_CACHE="$XDG_CACHE_HOME/starship"
STARSHIP_CONFIG="$XDG_CONFIG_HOME/starship.toml"
TERMINFO="$XDG_DATA_HOME/terminfo"
TERMINFO_DIRS="$XDG_DATA_HOME/terminfo:/usr/share/terminfo"
{{- if eq .chezmoi.os "darwin" }}
TEXMFHOME="$HOME/Library/texmf"
TEXMFVAR="$HOME/Library/texlive/2025/texmf-var"
TEXMFCONFIG="$HOME/Library/texlive/2025/texmf-config"
{{- else }}
TEXMFHOME="$XDG_DATA_HOME/texmf"
TEXMFVAR="$XDG_CACHE_HOME/texlive/texmf-var"
TEXMFCONFIG="$XDG_CONFIG_HOME/texlive/texmf-config"
XDG_CACHE_HOME="$HOME/.cache"
{{- end }}
WGETRC="$XDG_CONFIG_HOME/wgetrc"
WORKON_HOME="$XDG_DATA_HOME/virtualenvs"
ZDOTDIR="$XDG_CONFIG_HOME/zsh"
