HOMEBREW_BREWFILE=~/.config/homebrew/Brewfile
HOMEBREW_CASK_OPTS=--require-sha
HOMEBREW_DISPLAY_INSTALL_TIMES=1
HOMEBREW_FORCE_BREWED_CURL=1
HOMEBREW_FORCE_BREWED_GIT=1
HOMEBREW_FORCE_VENDOR_RUBY=1
HOMEBREW_NO_ANALYTICS=1
HOMEBREW_NO_AUTO_UPDATE=1
HOMEBREW_NO_ENV_HINTS=1
