tap "anomalyco/tap"
tap "d12frosted/emacs-plus"
tap "koekeishiya/formulae"
tap "redis/tap"
tap "strongdm/tap"
# Simple, modern, secure file encryption
brew "age"
# Spell checker with better logic than ispell
brew "aspell"
# Text-based UI library
brew "ncurses"
# Clone of cat(1) with syntax highlighting and Git integration
brew "bat"
# New way to see and navigate directory trees
brew "broot"
# Resource monitor. C++ version and continuation of bashtop and bpytop
brew "btop"
# Manage your dotfiles across multiple diverse machines, securely
brew "chezmoi"
# Formatting tools for C, C++, Obj-C, Java, JavaScript, TypeScript
brew "clang-format"
# Statistics utility to count lines of code
brew "cloc"
# Cross-platform make
brew "cmake"
# Create and run Linux containers using lightweight virtual machines
brew "container"
# GNU File, Shell, and Text utilities
brew "coreutils"
# Get a file from an HTTP, HTTPS or FTP server
brew "curl"
# Diff that understands syntax
brew "difftastic"
# Disk Usage/Free Utility - a better 'df' alternative
brew "duf"
# More intuitive version of du in rust
brew "dust"
# Maintain consistent coding style between multiple editors
brew "editorconfig"
# Spellchecker wrapping library
brew "enchant"
# Command-line tool to interact with exercism.io
brew "exercism"
# Perl lib for reading and writing EXIF metadata
brew "exiftool"
# Modern, maintained replacement for ls
brew "eza"
# Like neofetch, but much faster because written mostly in C
brew "fastfetch"
# Simple, fast and user-friendly alternative to find
brew "fd"
# Play, record, convert, and stream select audio and video codecs
brew "ffmpeg"
# Collection of GNU find, xargs, and locate
brew "findutils"
# User-friendly command-line shell for UNIX-like operating systems
brew "fish"
# Command-line fuzzy finder written in Go
brew "fzf"
# GNU awk utility
brew "gawk"
# GNU compiler collection
brew "gcc"
# GitHub command-line tool
brew "gh"
# OCR (Optical Character Recognition) engine
brew "tesseract"
# Distributed revision control system
brew "git"
# Syntax-highlighting pager for git and diff output
brew "git-delta"
# Git extension for versioning large files
brew "git-lfs"
# GNU implementation of the famous stream editor
brew "gnu-sed"
# GNU Privacy Guard (OpenPGP)
brew "gnupg"
# Analyzing the dependencies in compiled Golang binaries
brew "go-size-analyzer"
# Ping, but with a graph
brew "gping"
# GNU grep, egrep and fgrep
brew "grep"
# GitHub Markdown previewer
brew "grip"
# Like cURL, but for gRPC
brew "grpcurl"
# Tool for glamorous shell scripts
brew "gum"
# Grammar Checker for Developers
brew "harper"
# Package compiler and linker metadata toolkit
brew "pkgconf"
# Kubernetes package manager
brew "helm"
# Tools and libraries to manipulate images in select formats
brew "imagemagick"
# Git-compatible distributed version control system
brew "jj"
# Lightweight and flexible command-line JSON processor
brew "jq"
# Input filter for the pager less
brew "lesspipe"
# JIT library for the GNU compiler collection
brew "libgccjit"
# Postgres C API library
brew "libpq"
# GNOME XML library
brew "libxml2"
# Utility for directing compilation
brew "make"
# Syntax-aware git merge driver
brew "mergiraf"
# Run a Kubernetes cluster locally
brew "minikube"
# Polyglot runtime manager (asdf rust clone)
brew "mise"
# Simple tool to make locally trusted development certificates
brew "mkcert"
# Collection of tools that nobody wrote when UNIX was young
brew "moreutils"
# Program for MPEG audio stream validation
brew "mp3val"
# Lightweight PDF and XPS viewer
brew "mupdf"
# Command-line tool for manipulating Ogg files
brew "oggz"
# Swiss-army knife of markup format conversion
brew "pandoc"
# CLI for Postgres with auto-completion and syntax highlighting
brew "pgcli"
# Paste PNG into files
brew "pngpaste"
# Object-relational database system
brew "postgresql@18"
# Unix pager optimized for psql
brew "pspg"
# Monitor data's progress through a pipe
brew "pv"
# Tools for and transforming and inspecting PDF files
brew "qpdf"
# Cross-platform application and UI framework
brew "qt"
# Persistent key-value database, with built-in net interface
brew "redis"
# Search tool like grep and The Silver Searcher
brew "ripgrep"
# Wrapper around ripgrep that adds multiple rich file types
brew "ripgrep-all"
# Incremental parsing library
brew "tree-sitter"
# Easily detect and prevent bugs and anti-patterns in your codebase
brew "semgrep"
# Static analysis and lint tool, for (ba)sh scripts
brew "shellcheck"
# Autoformat shell script source code
brew "shfmt"
# Work with remote images registries
brew "skopeo"
# SOund eXchange: universal sound sample translator
brew "sox"
# Tool to create intelligent and beautiful documentation
brew "sphinx-doc"
# Cross-shell prompt for astronauts
brew "starship"
# Send macOS User Notifications from the command-line
brew "terminal-notifier"
# Implementation of the Language Server Protocol for LaTeX
brew "texlab"
# Terminal multiplexer
brew "tmux"
# Open-source industry-supported PDF/A validation
brew "verapdf"
# Command-line hypervisor using Apple's Virtualization Framework
brew "vfkit"
# Image processing library
brew "vips"
# Display word differences between text files
brew "wdiff"
# Internet file retriever
brew "wget"
# Network analyzer and capture tool - without graphical user interface
brew "wireshark", link: false
# Check your $HOME for unwanted files and directories
brew "xdg-ninja"
# Shell extension to navigate your filesystem faster
brew "zoxide"
# UNIX shell (command interpreter)
brew "zsh"
# The AI coding agent built for the terminal.
brew "anomalyco/tap/opencode"
# GNU Emacs text editor
brew "d12frosted/emacs-plus/emacs-plus@30"
# Simple hotkey-daemon for macOS.
brew "koekeishiya/formulae/skhd"
# A tiling window manager for macOS based on binary space partitioning.
brew "koekeishiya/formulae/yabai"
# Get data in and out of Redis with RIOT
brew "redis/tap/riot"
# Command-line interface for 1Password
cask "1password-cli"
# Menu bar icon organiser
cask "bartender"
# Monitors common persistence locations
cask "blockblock"
# Contacts manager
cask "cardhop"
# OpenAI's coding agent that runs in your terminal
cask "codex"
# Calendar software
cask "fantastical"
# Utility for customizing which browser to start
cask "finicky"
cask "font-aporetic"
cask "font-ibm-plex-mono"
cask "font-ibm-plex-sans"
cask "font-iosevka"
cask "font-monaspace"
# Tool to show what is persistently installed on the computer
cask "knockknock"
# Full TeX Live distribution with GUI applications
cask "mactex"
# Intercept, modify, replay, save HTTP/S traffic
cask "mitmproxy"
# Network monitor
cask "netiquette"
# Knowledge base that works on top of a local folder of plain text Markdown files
cask "obsidian"
# File sharing network
cask "soulseek"
# System monitor for the menu bar
cask "stats"
# Music streaming service with high fidelity sound and hi-def video quality
cask "tidal"
# To-do list
cask "todoist-app"
# Shows a files cryptographic signing information
cask "whatsyoursign"
# Network protocol analyzer
cask "wireshark-app"
# Open-source version of the X.Org X Window System
cask "xquartz"
# Multiplayer code editor
cask "zed"
# Collect, organise, cite, and share research sources
cask "zotero"
go "cmd/go"
go "cmd/gofmt"
go "golang.org/x/tools/gopls"
