[tools]
# global tool versions go here

node = "lts"
"npm:prettier" = "latest"
"npm:stylelint" = "latest"
"npm:js-beautify" = "latest"
"npm:@mermaid-js/mermaid-cli" = "latest"
"npm:markdownlint-cli" = "latest"

# LSP Servers
"npm:@astrojs/language-server" = "latest"
"npm:bash-language-server" = "latest"
"npm:dockerfile-language-server-nodejs" = "latest"
"npm:graphql-language-service-cli" = "latest"
"npm:svelte-language-server" = "latest"
"npm:vscode-langservers-extracted" = "latest"
"npm:yaml-language-server" = "latest"

python = '3.13'
uv = "latest"
"pipx:pyflakes" = "latest"
"pipx:isort" = "latest"
"pipx:pipenv" = "latest"
"pipx:nose"  = "latest"
"pipx:rstfmt" = "latest"
"pipx:pytest" = "latest"
"pipx:tiddl" = "latest"
"pipx:ty" = "latest"
"pipx:ruff" = "latest"
"pipx:beets[embedart,fetchart]" = { version = "latest", uvx_args = "--with python3-discogs-client --with beets-alternatives --with beetcamp --with pylast --with requests --with git+https://github.com/geigerzaehler/beets-check.git@main --with standard-imghdr --with requests_oauthlib --with beets-beatport4" }

go = '1.25.3'
"go:github.com/jessfraz/dockfmt" = "latest"
"go:golang.org/x/tools/gopls" = "latest"
"go:github.com/fatih/gomodifytags" = "latest"
"go:github.com/cweill/gotests/..." = "latest"
"go:github.com/x-motemen/gore/cmd/gore" = "latest"
"go:github.com/mdempsky/gocode" = "latest"
"go:github.com/go-delve/delve/cmd/dlv" = "latest"

pnpm = "latest"
golangci-lint = "v2.9.0"
"pipx:git+https://github.com/oraios/serena.git" = "main"
"cargo:starship-jj" = "latest"

[settings]

color_theme = 'charm'
gpg_verify = true

# config files with these prefixes will be trusted by default
trusted_config_paths = []

# set the timeout for http requests as duration string, see `MISE_HTTP_TIMEOUT`
http_timeout = "30s"  

# number of plugins or runtimes to install in parallel. The default is `4`.
jobs = 4              

not_found_auto_install = true 
task_output = "prefix" 
paranoid = false       

# path to the shorthands file, see `MISE_SHORTHANDS_FILE`
shorthands_file = '~/.config/mise/shorthands.toml' 

# disable specific tools, generally used to turn off core tools
# disable_tools = ['node']           

# load env vars from a dotenv file, see `MISE_ENV_FILE`
# env_file = '.env' 

# enable experimental features
experimental = true 


go_default_packages_file = '~/.config/mise/default-packages/go'

[settings.node]
compile = true

[settings.npm]
bun = false
package_manager = 'pnpm'

[settings.pipx]
uvx = true

[settings.python]
default_packages_file = '~/.config/mise/default-packages/python' 

[settings.ruby]
compile = false


# "_" is a special key for information you'd like to put into mise.toml that mise will never parse
[_]
# foo = "bar"
